{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Yuora - Login{% endblock %}

{% block page_content %}

<div class="page-header">
    <span class="login-header">Yuora</span>
</div>

<div class="auth-login">
    {{ wtf.quick_form(form) }}
    <br>
    <p>
        Having trouble logging in?
        <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>
    </p>

    <p>
        New user?
        <a href="{{ url_for('auth.register') }}">
            Click here to sign up
        </a>
    </p>

</div>

{% endblock %}