{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Yuora | Login{% endblock %}

{% block page_content %}

<div class="auth-login">
    <div>
        {{ wtf.quick_form(form) }}

        <br>
        <p>
            Forgot password?
            <a class="decoration" href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>
        </p>

        <p>
            Don't have an account?
            <a class="decoration" href="{{ url_for('auth.register') }}">
                Click here to sign up
            </a>
        </p>
    </div>
</div>



<script>
    const input = document.querySelector('#submit');
    input.classList.remove("btn-default");
    input.classList.add("btn-primary");
</script>

{% endblock %}

