@import "alertify/css/alertify.core.css";
@import "alertify/css/alertify.default.css";

* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background: #e2e2e2;
    font-family: 'Lato', sans-serif;
}

/*-- Login/Register Layout --*/
.auth-login,
.auth-register {
    margin: 0 auto;
    padding: 80px 30px;
    max-width: 350px;
}

.reset-password {
    width: 240px;
}

.reset-wrap {
    margin: 50px auto;
    max-width: 400px;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    /*min-height: 100px;*/
    margin-left: 240px;
    margin-top: -22px;
}

.profile-wrap {
    width: 1005px;
    background: #FFFFFF;
    margin: 45px auto;
    padding: 0;
}

.post-self-wrap {
    width: 1010px;
    margin: -50px auto;
    background: #FFFFFF;
    margin-bottom: 20px;
}

div.post-tabs {
  margin-top: 16px;
}

/*--Ul Layout--*/
ul li {
    list-style-type:none;
}

ul.posts {
    list-style-type: none;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    padding-left: 15px;
}

li.post {
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    background: #FFFFFF;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 50px;
    min-height: 48px;
}

/*--Container Layout--*/
.content-container {
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
}

.left-container {
    width: 100%;
    max-width: 700px;
    background: #FFFFFF;
    margin-bottom: 30px;
    border-bottom: 4px solid #ccc;
    border-radius: 5px;
}

.right-container {
    width: 100%;
    background: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 6px;
    border-bottom: 4px solid #ccc;
}

.category {
    text-align: center;
    padding-top: 5px;
}

.category-list {
    padding-left: 20px;
}

.category-item {
    padding-right: 15px;
}

/*--Comments Layout--*/
ul.comments {
    list-style-type: none;
    margin: 0;
    padding:0;
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment {
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-thumbnail {
    padding-top: 15px;
    margin-left: 15px;
}

div.comment-content {
    margin-left: 65px;

}

.comment-form {
    margin-top:10px;
    width: 1010px;
    height: 100px;
}

/*--pagination layout--*/
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-author {
    float: left;
    margin-right: 3px;
}

.post-title {
    margin-bottom: 8px;
}

a:hover,a:visited,a:link,a:active {
    text-decoration:none;
    color: #000000;
    word-break: break-all;
    font-size:14px;
}


.brand-size {
    font-size:30px;
    color:#EE9A00;
}


.tab {
    margin: 0 auto;
}

/*-- post new page layout--*/
.new-post-wrap {
    width: 80%;
    margin: 30px auto;
}

.post-btn {
    margin-right: 10px;
}

.like {
    margin: 5px;
}

.unlike {
    margin: 5px;
}

.edit-post-wrap {
    width: 1010px;
    margin: 30px auto;
    background: #FFFFFF;
    padding: 5px 25px 15px;
}

.post-wrap {
    width: 1015px;
    margin: 30px auto;
}

.comment-wrap {
    width: 1010px;
    margin: 30px auto;
    background: #FFFFFF;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.post-tags {
    margin-top: 15px;
    padding-bottom: 18px;
}

.comment-body {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.comment-date {
    float:right;
    margin-right: 15px;
}

.to-top {
    float:right;
}


.followers-wrap {
    width: 1010px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 5px 30px;
}


.profile-form {

    margin: 0 auto;
    padding: 31px 40px;

    width: 1105px;
}

.unconfirmed-header {

    margin-left: 60px;
}

.profile-info-wrap {
    width: 1020px;

    margin: 0 auto;
}

.profile-info {
    width: 500px;

}

.password-wrap {
    width:1100px;
    margin: 0 auto;

}

.password-form {
    width:430px;
    margin-top: 35px;
}

@media (min-width: 769px) {

    .auth-login,
    .auth-register {
        width: 40%;
        margin: 0 auto;
        max-width: 400px;
        padding: 80px 30px;
    }

    .reset-wrap {
        width: 60%;
        margin: 50px auto;
        max-width: 400px;
    }

    .content-container {
        width: 90%;
        margin: 10px auto;
        overflow: hidden;
        max-width: 1050px;
    }

    .left-container {
        width: 60%;
        max-width: 650px;
        margin: 0 20px 50px;
        float: left;
    }

    .right-container {
        width: 28%;
        max-width: 220px;
        margin: 0 20px;
        float:right;
    }

    .category {
        text-align: center;
    }


    .tab {
        margin-left: 20px;
    }

    .new-post-wrap {
        width: 90%;
        max-width: 1050px;
        margin: 30px auto;
    }
}
