@import "alertify/css/alertify.core.css";
@import "alertify/css/alertify.default.css";

/*--Common Layout--*/
* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background: #f3f3f3;
    font-family: 'Lato', sans-serif;
}

.container-color {
    background: #fff;
}

.container-border {
    border-radius: 5px;
    border-bottom: 4px solid #ccc;
}

/*--Alert Layout--*/
div.alert-info {
    padding: 10px;
    margin-top: -11px;
}

/*--Pagination Layout--*/
div.pagination {
    width: 100%;
    text-align: center;
    /*margin: 1em;*/
    padding: 0;
    margin: 0;
}

.to-top {
    float:right;
}

/*--Footer Layout--*/
div.page-footer {
    text-align: center;
}

ul.contact-info {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a.linkedin {
    background-image: url(images/linkedin.png);
}

a.github {
    background-image: url(images/github.png);
}

a.twitter {
    background-image: url(images/twitter.svg);
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    opacity: .6;
    transition: all .5s;
    border-radius: 50%;
}

/*-- Login/Register Layout --*/
.auth-login,
.auth-register,
.reset-wrap {
    margin: 0 auto;
    padding: 60px 20px;
    width: 310px;
}

/*--MainPage Layout--*/
.content-container {
    max-width: 1000px;
    margin: 45px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
}

.col {
    flex-grow: 1;
    margin: 0 35px 35px;
}

.left-container {
    flex-grow: 3;
}

.right-container {
    /*margin-top: 35px;*/
    margin-bottom: 0;
}

ul.nav {
    margin-top: 0;
    margin-left: -1px;
}

/*--Category Layout--*/
ul li {
    list-style-type:none;
}

.category {
    text-align: center;
    padding-top: 5px;
}

.category-list {
    padding-left: 20px;
}

.category-item {
    padding-right: 15px;
}


/*--Post List Layout--*/
ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 15px;
}

li.post {
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    border-bottom: 1px solid #ddd;
}

li.post:last-child {
    border: 0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    /*float: right;*/
    display: none;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 50px;
    min-height: 48px;
}

.post-title {
    margin-bottom: 8px;
}

/*.post-footer {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*!*flex-direction: column;*!*/
    /*!*height: 40px;*!*/
    /*justify-content: space-around;*/
/*}*/

div.post-footer a {
    display: inline-block;
    margin-right: 4px;
}

div.post-footer a:first-child {
    color:#778087;
    font-size: small;
    margin-right: 4px;
}

div.post-footer a:last-child {
    color: #46b8da;
    font-size: small;
    /*margin-right: 2px;*/
}

div.post-footer .category {
    display: none;
}

a:hover,a:visited,a:link,a:active {
    text-decoration:none;
    color: #000000;
    word-break: break-all;
    font-size:14px;
}

.brand-size {
    font-size:30px;
    color:#EE9A00;
}

/*.comment-body {*/
    /*padding-top: 8px;*/
    /*padding-bottom: 10px;*/
    /*padding-right: 20px;*/
/*}*/

/*.comment-date {*/
    /*float:right;*/
    /*margin-right: 15px;*/
/*}*/

/*-- Post Detail Layout--*/
.post-container {
    margin: 45px auto;
    padding: 5px 25px 20px;
    width: 80%;
    max-width: 1000px;
}

.post-header {
    margin-top: 5px;
}

.post-body {
    font-size: 1.1em;
}

.post-tags {
    margin: 0;
    padding: 0;
}

/*.post-tags span {*/
    /*display: inline-block;*/
    /*margin-right: 2px;*/
/*}*/

/*.post-tags span:first-child {*/
    /*margin-left: 3px;*/
/*}*/


.post-tags a {
    display: inline-block;
    margin-right: 4px;
}

.post-tags a:first-child {
    color:#778087;
    font-size: small;
    margin-right: 4px;
}

.post-tags a:last-child {
    /*color: #46b8da;*/
    font-size: small;
    /*margin-right: 2px;*/
}

.post-tags .category {
    display: none;
}

.post-tags .like {
   color: #46b8da;
}

.post-tags .unlike {
   color: #000;
}

.post-container .comment-form {
    margin-top:30px;
    width: 100%;
    height: 100px;
}

.text-box {
    display: none;
}

.text-box-on {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    align-self: flex-end;
}

/*--Comments Layout--*/
ul.comments {
    list-style-type: none;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

li.comment {
    /*margin: 5px;*/
    display: flex;
    border-radius: 3px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

li.comment:last-child {
    border: 0;
}

div.comment-thumbnail {
    padding: 15px;
}

div.comment-date {
    align-self: flex-start;
}

div.comment-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

div.comment-body {
    margin-top: auto;
}

div.comment-author,
div.comment-date {
    margin-top: 12px;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

/*--New Post/Edit Post Layout--*/
#post-form .post-button {
    display: flex;
    justify-content: flex-end;
}

.post-button .post-btn {
    margin-left: 10px;
    order: 1;
}

.unconfirmed-header {
    margin-left: 60px;
}

/*--Homepage Layout--*/
.user-container {
    margin: 45px auto;
}

.user-header {
    text-align: center;
    font-size: 1.1em;
}

.user-wrap {
    margin: 50px auto 0;
    width: 85%;
}

.follow a {
    margin: 0 3px;
}
.follow span {
    margin-left: 2px;

}

/*--Settings Layout--*/
.profile-container {
    padding: 0 50px 50px;
    margin: 45px auto;
}

.img-col,
.profile-header {
    text-align: center;
}

.profile-header {
    margin-bottom: 40px;
    font-size: 1.1em;
}

/*--ChangePassword Layout--*/
.password-wrap {
    margin: 45px auto;
    width: 280px;
}


/*--Follows Layout--*/
.title-header {
    margin: 45px auto;
    text-align: center;
}

.followers-wrap {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 5px 20px;
}

@media (min-width: 769px) {

    /*!*--PostList Layout--**!*/
    div.post-date {
        display: block;
        float: right;
    }

    div.post-footer .category {
        display: inline-block;
    }

    /*--Settings Layout--*/
    .profile-container {
        display: flex;
        padding: 0 40px;
        max-width: 1000px;
        width: 90%;
    }

    .profile-col {
        flex: 1;
        margin: 0 20px;
    }

    .profile-form {
        flex: 1.2;
    }

    /*--Homepage Layout--*/
    .user-container {
        display: flex;
        max-width: 1000px;
        width: 90%;
    }

    .user-col {
        flex: 1;
    }

    .user-wrap {
        margin-top: 0;
        margin-right: 40px;
        flex: 1.2;
    }

}
