@import "alertify/css/alertify.core.css";
@import "alertify/css/alertify.default.css";

/*--Common Layout--*/
* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background: #f3f3f3;
    font-family: 'Lato', sans-serif;
}

.container-color {
    background: #fff;
}

.container-border {
    border-radius: 5px;
    border-bottom: 4px solid #ccc;
}


/*--Footer Layout--*/
div.page-footer {
    text-align: center;
}

ul.contact-info {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a.linkedin {
    background-image: url(images/linkedin.png);
}

a.github {
    background-image: url(images/github.png);
}

a.twitter {
    background-image: url(images/twitter.svg);
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    opacity: .6;
    transition: all .5s;
    border-radius: 50%;
}

/*-- Login/Register Layout --*/
.auth-login,
.auth-register {
    margin: 0 auto;
    padding: 80px 30px;
    width: 350px;
}

.reset-password {
    width: 240px;
}

.reset-wrap {
    margin: 50px auto;
    max-width: 400px;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    margin-left: 240px;
    margin-top: -22px;
}

.profile-wrap {
    width: 1005px;
    background: #FFFFFF;
    margin: 45px auto;
    padding: 0;
}

.post-self-wrap {
    width: 1010px;
    margin: -50px auto;
    background: #FFFFFF;
    margin-bottom: 20px;
}

div.post-tabs {
  margin-top: 16px;
}

/*--MainPage Layout--*/
.content-container {
    max-width: 1050px;
    margin: 45px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col {
    flex-grow: 1;
    margin: 0 35px 35px;
}

.left-container {
    flex-grow: 2.5;
}

ul.nav {
    margin: 0;
    font-weight: bold;
}

.tabs {
    margin-left: -1px;
}


/*--Post List Layout--*/
ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 15px;
}

li.post {
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 50px;
    min-height: 48px;
}

div.post-footer span {
    margin-right: 2px;
}

div.post-footer a {
    display: inline-block;
}

div.post-footer a:first-child {
    color:#778087;
    font-size: small;
    margin-right: 3px;
}

div.post-footer a:last-child {
    color: #46b8da;
    font-size: small;
    margin-right: 2px;
}

/*--Category Layout--*/
ul li {
    list-style-type:none;
}

.category {
    text-align: center;
    padding-top: 5px;
}

.category-list {
    padding-left: 20px;
}

.category-item {
    padding-right: 15px;
}

/*-- Post Detail Layout--*/
.post-wrap {
    padding: 5px 25px 15px;
}

.post-header {
    margin-top: 5px;
}

.post-container {
    width: 85%;
    margin: 45px auto;
}

.post-container .comment-form {
    margin-top:10px;
    width: 100%;
    height: 100px;
}

/*--Post Tag Layout--*/
.post-tags {
    /*margin-top: 15px;*/
    /*padding-bottom: 18px;*/
    display: inline-flex;
}

.post-author {
    /*float: left;*/
    margin-right: 3px;
}

.post-title {
    margin-bottom: 8px;
}

a:hover,a:visited,a:link,a:active {
    text-decoration:none;
    color: #000000;
    word-break: break-all;
    font-size:14px;
}


.brand-size {
    font-size:30px;
    color:#EE9A00;
}

.comment-body {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.comment-date {
    float:right;
    margin-right: 15px;
}


/*--Comments Layout--*/
ul.comments {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

li.comment {
    margin: 5px;
    border-radius: 3px;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-thumbnail {
    padding-top: 15px;
    margin-left: 15px;
}

div.comment-content {
    margin-left: 65px;
}

/*--New Post Layout--*/
.post-btn {
    margin-right: 10px;
}

.like {
    margin: 5px;
}

.unlike {
    margin: 5px;
}

/*--pagination layout--*/
div.pagination {
    width: 100%;
    text-align: center;
    margin: 1em;
    padding: 0;
}

.to-top {
    float:right;
}

.followers-wrap {
    width: 1010px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 5px 30px;
}


.profile-form {

    margin: 0 auto;
    padding: 31px 40px;

    width: 1105px;
}

.unconfirmed-header {
    margin-left: 60px;
}

.profile-info-wrap {
    width: 1020px;
    margin: 0 auto;
}

.profile-info {
    width: 500px;

}

.password-wrap {
    width:1100px;
    margin: 0 auto;

}

.password-form {
    width:430px;
    margin-top: 35px;
}

/*--Alert Layout--*/
div.alert-info {
    padding: 10px;
    margin-top: -11px;
}

@media (min-width: 780px) {

    .reset-wrap {
        width: 60%;
        margin: 50px auto;
        max-width: 400px;
    }

    /*--MainPage Layout--*/
    div.category {
        text-align: center;
    }

    .post-container {
        max-width: 980px;
    }
}
