.profile-thumbnail {
    position: absolute;

}

.profile-header {
    /*min-height: 100px;*/
    margin-left: 240px;

}

.profile-wrap{

    width: 1120px;
    margin: 15px auto;
    background: #FFFFFF;
    padding: 25px 40px;

}




/*注意和派生选择器的区别*/
/*这里以此区分有相同名字的class_name*/
div.post-tabs {
  margin-top: 16px;
}


ul.posts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 50px;
    min-height: 48px;
    /*color: #778087;*/
    padding: 0;
    /*overflow: hidden;*/
}

ul.comments {
    list-style-type: none;
    margin: 0;
    padding:0;
    border-top: 1px solid #e0e0e0;

}

ul.comments li.comment {
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}


div.comment-thumbnail {
    padding-top: 15px;
    margin-left: 15px;


}
div.comment-content {
    margin-left: 65px;

}

.comment-form {

    margin-top:10px;
    width: 1120px;
    height: 100px;

}

div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-author{

    float: left;
    margin-right: 3px;
}


.post-title {

    margin-bottom: 8px;

}


a:hover,a:visited,a:link,a:active
{
    text-decoration:none;
    color: #000000;
    word-break: break-all;
    font-family: "Microsoft YaHei";
    font-size:14px;

}


#login-wrap{

    width: 400px;
    margin: 100px auto;

}


.header{

    font-size: 65px;
    padding-left: 85px;
    width: 100%;

}

.login-form {

    padding-left: 85px;
    width: 100%;

}

.content {
    width: 1170px;
    margin: 20px auto;
    overflow: hidden;
    /*background: #EEE;*/

}

.left-bar {
    width: 850px;
    margin: 0 20px 10px;
    background: #FFFFFF;
    float: left;
    padding: 0;
}

.right-bar{

    float:right;
    width: 220px;
    margin: 0 20px;
   background: #FFFFFF;
}


.category{

    font-size: 25px;
    padding-top: 10px;
}


.category-content{

    margin-top: 18px;
    padding: 0;
}

body{
    padding-top: 70px;
    background: #e2e2e2;
}

.brand{

    font-family: "Microsoft Yahei";

}

.brand-size{

    font-size:30px;
    color:#EE9A00;
}

ul li{
    list-style-type:none;

}


.tab{
    /*padding: 0;*/
    margin-left: 19px;
}

.new-post-wrap{
    width: 1180px;
    margin:0 auto;
}

.like{

    margin: 5px;
}

.unlike{

    margin: 5px;
}

.edit-post-wrap{

    width: 1120px;
    margin: 15px auto;
    background: #FFFFFF;
    padding: 5px 25px 15px;

}

.post-wrap{

    width: 1120px;
    margin: 50px auto;

}

.comment-wrap{

    width: 1120px;
    margin: 30px auto;
    background: #FFFFFF;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.post-tags{

    margin-top: 15px;
    padding-bottom: 18px;

}

#comment-font{

    font-family: "Microsoft YaHei";
    /*font-size:15px;*/

}

.comment-body {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 20px;


}

.comment-date{

    float:right;
    margin-right: 15px;

}

.to-top{

    float:right;
}


.followers-wrap{

    width: 1190px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 20px 30px;


}