<div class="category">
    <h4>CATEGORY</h4>
</div>

<ul class="category-list">
    {% for category in categories %}

      <li>
        <a href="{{ url_for('main.post_category',id=category.id) }}">
            <p class="category-item">
               <span class="chevron">&nbsp›&nbsp;{{ category.category_name}}</span>
               <span class="badge" style="float: right">
                   {{ Post.query.filter_by(category_id=category.id).count()}}
               </span>
            </p>
        </a>
      </li>
    {% endfor %}
</ul>


