<ul class="comments container-border">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail comment-col">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-container">
            <div class="comment-author comment-col">
                    <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <strong>{{ comment.author.username }}</strong>
                    </a>
            </div>
            <div class="comment-body comment-col">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
            </div>
        </div>
{#        <div class="comment-date comment-col">{{ moment(comment.timestamp).fromNow() }}</div>#}
    </li>
    {% endfor %}
</ul>
