<div class="left-container container-color container-border col">

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %}{% endif %}>
                <a href="{{ url_for('main.show_all') }}">
                    All
                </a>
            </li>
            <li class="active">
                <a href="{{ url_for('main.post_top') }}">
                    Top
                </a>
            </li>

            {% if current_user.is_authenticated %}
                <li{% if show_followed %} class="active" {% endif %}>
                    <a href="{{ url_for('main.show_followed') }}">
                        Followers
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <a href="{{ url_for('main.post', id=post[0].id) }}"></a>
           <!--author is a foreign key, which is a left image-->
            <div class="post-thumbnail">
                <a href="{{ url_for('main.user', username=post[0].author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ post[0].author.gravatar(size=40) }}">
                </a>
            </div>

            <!--the post content part-->
            <div class="post-content">
                <div class="post-date">{{ moment(post[0].timestamp).fromNow() }}</div>
                <div class="post-title">{{ post[0].title }}</div>
                <div class="post-footer">
                    <a href="{{ url_for('main.user', username=post[0].author.username) }}">
                    <strong>{{ post[0].author.username }}</strong>
                    </a>

                    <a href="{{ url_for('main.post_category',id=post[0].category.id) }}"><span class="label label-default" style="margin-right: 2px">{{ post[0].category.category_name }}</span>
                    </a>

                    <a href="{{ url_for('main.post',id=post[0].id) }}#comment-font">
                        <span class="label label-default">{{ post[0].comments.count() }} Comments</span>
                    </a>

                    <a href="#">
                       <span class="glyphicon glyphicon-thumbs-up"></span> {{post[0].likes.filter_by(liked=True).count()}}
                    </a>

                </div>

            </div>

        </li>
        {% endfor %}
    </ul>
</div>


<script>
    $('.post').on('click',function(){
        location.href = $(this).children("a").attr("href");
    });
</script>


