<ul class="posts container-color container-border">
    {% for post in posts %}
    <li class="post">

       <!--author is a foreign key, which is a left image-->
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>

        <!--the post content part-->
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-title">
                <a href="{{ url_for('main.post',id=post.id) }}">{{ post.title }}</a>
            </div>

        <!--The permanent links are added at the bottom of each post in the generic _posts.html template.-->
            <div class="post-footer">


            <a href="{{ url_for('main.user',username=post.author.username) }}">
                <strong>{{ post.author.username }}</strong>
            </a>

            <a href="{{ url_for('main.post',id=post.id) }}#comment-font">
                <span class="label label-default">{{ post.comments.count() }} Comments</span>
            </a>

            <a class="category" href="{{ url_for('main.post_category',id=post.category.id) }}">
                <span class="label label-default">{{ post.category.category_name }}</span>
            </a>

            <a href="#">
                <span class="glyphicon glyphicon-thumbs-up"></span> {{post.likes.filter_by(liked=True).count()}}
            </a>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>

<script>

    if(!!window.performance && window.performance.navigation.type === 2) {
        console.log('Reloading');
        window.location.reload();
    }

    if (!$('ul.posts li').length) {
        $('ul.posts').hide();
    }

</script>







