<div class="category">
    <h3><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> CATEGORY</h3>
</div>

<div class="show-category">
    <ul>
         {% for category in categories %}

      <li>

        <a href="{{ url_for('main.show_category',id=category.id) }}">

            <p style="width: 120px">

               <span style="font-size: 15px;">{{ category.category_name }}</span>
               <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category_id=category.id).count()}}
               </span>
            </p>

        </a>

        {% endfor %}

      </li>

    </ul>
</div>