{% extends "bootstrap/base.html" %}

{% block title %}Yuora{% endblock %}

{% block head %}
{{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='alertify/js/alertify.min.js') }}"></script>
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><span id="id-span-brand">Yuora</span></a>
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li><a class="active" href={{ url_for('main.post_new') }} ><span class="brand">New Post</span></a></li>
                    {% endif %}

                    {% if current_user.is_administrator() %}
                    <li><a href="{{ url_for('main.category_add') }}"><span class="brand">Add Category</span></a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_authenticated %}

                     <li>
                        <a href="{{ url_for('main.user',username=current_user.username) }}">
                            <img src="{{ current_user.gravatar(size=18) }}">
                            <span class="brand">{{ current_user.username }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('main.settings',username=current_user.username) }}">
                            <span class="brand">Settings</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('auth.logout') }}">
                            <span class="brand">Log Out</span>
                        </a>
                    </li>

                    {% else %}

                    <li><a href="{{ url_for('auth.register') }}"><span class="brand-size">Sign Up</span></a></li>
                    <li><a href="{{ url_for('auth.login') }}"><span class="brand-size">Sign In</span></a></li>

                    {% endif %}

                </ul>

            </div>

        </div>

    </nav>

{% endblock %}


{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert-warning alert-info">
        <button type="button" class = "close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

   {% block page_content %}

   {% endblock %}

    {% block footer %}
     <div class="page-footer">
       <ul class="contact-info">
        <li><a href="https://www.linkedin.com/in/ywang04/" class="social linkedin">LinkedIn</a></li>
        <li><a href="https://github.com/ywang04" class="social github">Github</a></li>
        <li><a href="https://twitter.com/ywang04" class="social twitter">Twitter</a></li>
       </ul>
         <p class="copyright">© 2017 Yuora</p>
     </div>
    {% endblock %}

{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}


