{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Yuora - Show Category{% endblock %}

{% block page_content %}

<div class="post-tabs">

<ul class="nav nav-tabs">
    <!--点赞最多的就是Top-->
    <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_all') }}">All</a></li>
    <li class="active"><a href="{{ url_for('main.index') }}">Top</a></li>
    {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_followed') }}">Followers</a>
    </li>
    {% endif %}
</ul>

{% include '_posts_all.html' %}

</div>

{% include '_show_category.html' %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.category_post',id=category_id) }}
</div>
{% endif %}

{% endblock %}