{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Yuora - Edit Post{% endblock %}

{% block page_content %}

    <div class="page-header">

    <h3>Edit Post</h3>
    </div>

{#<form method="post">#}
{##}
{#    <div class="col-md-9" >#}
{##}
{#    {{ form.title(class='form-control',placeholder='Enter Title',type='text') }}<br>#}
{#    {{ form.category(class='form-control') }}<br>#}
{#    {{ form.body(class='ckeditor') }}<br>#}
{#    {{ form.submit(class="btn btn-default") }}#}
{##}
{#    </div>#}
{#</form>#}


     <form method="post">
        <div style="display:none;">
            {{ form.csrf_token() }}
        </div>
        <div class="form-group required">
            {{ form.title(class="form-control", placeholder=form.title.label.text) }}
        </div>
        <div class="form-group required">
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group required">
            <div class="row">
                <div class="col-md-6">
                    {{ form.body(class="ckeditor", placeholder=form.body.label.text) }}
                </div>
            </div>
        </div>
        <div class="form-group">
             {{ form.submit(class="btn btn-default") }}
             <a href="{{ url_for('.index') }}"><button type="button" class="btn btn-link">取消编辑</button></a>
        </div>
    </form>


{% endblock %}

