{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Yuora | All{% endblock %}

{% block page_content %}
        <div class="tab">
            <ul class="nav nav-tabs">

                <li{% if not show_followed %} class="active"{% endif %}>
                    <a href="{{ url_for('main.show_all') }}">
                        All
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('main.post_top') }}">
                        Top
                    </a>
                </li>

                {% if current_user.is_authenticated %}
                    <li{% if show_followed %} class="active" {% endif %}>
                        <a href="{{ url_for('main.show_followed') }}">
                            Followers
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>

        <div class="content-container">
        {% include '_posts_all.html' %}

        <div class="right-container container-color container-border col">

            {% include '_category_show.html' %}
        </div>

        </div>


<script>
 if(!!window.performance && window.performance.navigation.type === 2) {
    console.log('Reloading');
    window.location.reload();
 }
</script>

     {% block footer %}
         <h5>Copyright © 2017 Yuora. All rights reserved</h5>
     {% endblock %}

{% endblock %}

