{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Yuora | Post{% endblock %}

{% block page_content %}

<div class="post-container container-color container-border">

    <div class="post-header">

        <a href="/">Yuora</a>

        <a href="{{ url_for('main.post_category',id=post.category_id) }}">
            <span class="chevron">&nbsp;›&nbsp;{{ post.category.category_name}}</span>
        </a>

        <h1>{{ post.title }}</h1>
    </div>

    <div class="post-body">
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
    </div>

    <ul class="post-tags">
        <li>
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <strong>{{ post.author.username }}</strong>
            </a>
        </li>


        {% if current_user == post.author %}
            <li>
                <a href="{{ url_for('main.post_edit', id=post.id) }}">
                    <span class="label label-default">Edit</span>
                </a>
            </li>

            <li>
                <a href="#" id="simple-alert">
                    <span class="label label-default">Delete</span>
                </a>
            </li>

        {% elif current_user.is_administrator() %}
            <li>
                <a href="{{ url_for('main.post_edit', id=post.id) }}">
                    <span class="label label-default">Edit</span>
                </a>
            </li>

            <li>
                <a href="#" id="simple-alert">
                    <span class="label label-default">Delete</span>
                </a>
            </li>
        {% endif %}

      {% if current_user.is_authenticated %}
          <li>
            <a href="#" id="show-comment">
                <span class="label label-default">Comment</span>
            </a>
          </li>
        {% if current_user.is_like_post(post) %}
            <li>
                <a href="" class="unlike">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="" class="unlike">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
            </li>
        {% endif %}
      {% endif %}

    </ul>

    <div class="text-box">
    {% if current_user.can(Permission.COMMENT) %}
            <form method="post" class="form-container">
                {{ form.csrf_token() }}
                <div class="form-group">{{form.body(class="comment-form")|safe}}</div>
                <input type="submit" class="btn btn-primary" value="Comment">
            </form>
    {% endif %}
    </div>


    {% include '_comments.html' %}


</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.post',fragment='#comments',id=post.id) }}
</div>
{% endif %}

<script>

    $(document).ready(function() {

        $('.like').on('click', function() {
            var url = "{{ url_for('main.post_like',id=post.id) }}";
            $.post(url,function(response){
                console.log(response);
            });
        });

        $('.unlike').on('click',function() {
            var url = "{{ url_for('main.post_like',id=post.id) }}";
             $.post(url,function(response){
                 console.log(response);
            });
        });

        $("#simple-alert").click(function() {
            alertify.confirm("Are you sure you want to delete this post?", function(e) {
                    if (e) {
                        var url = "{{ url_for('main.post_delete',id=post.id) }}";
                        $.ajax(url,{
                            type: 'POST',
                            success: function(response) {
                                window.location = '/';
                            }
                        });
                    } else {
                        return false;
                    }
                });
            });

        $('#show-comment').on('click', function() {
             $('.text-box').toggleClass('text-box-on','text-box');

        });

    });

</script>

{% endblock %}




